.login-container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;

  padding: 40px;

  border-radius: 16px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

  text-align: center;

}