
<div class="container">

  <h1>GreenLedger Expenses</h1>

  <button
    mat-raised-button
    color="primary"
    (click)="openDialog()">

    Add Expense

  </button>

  <br /><br />

  <table
    mat-table
    [dataSource]="expenses">

    <!-- DATE -->
    <ng-container matColumnDef="date">

      <th mat-header-cell *matHeaderCellDef>
        Date
      </th>

      <td mat-cell *matCellDef="let expense">
        {{ expense.date }}
      </td>

    </ng-container>

    <!-- CATEGORY -->
    <ng-container matColumnDef="category">

      <th mat-header-cell *matHeaderCellDef>
        Category
      </th>

      <td mat-cell *matCellDef="let expense">
        {{ expense.category }}
      </td>

    </ng-container>

    <!-- DESCRIPTION -->
    <ng-container matColumnDef="description">

      <th mat-header-cell *matHeaderCellDef>
        Description
      </th>

      <td mat-cell *matCellDef="let expense">
        {{ expense.description }}
      </td>

    </ng-container>

    <!-- AMOUNT -->
    <ng-container matColumnDef="amount">

      <th mat-header-cell *matHeaderCellDef>
        Amount
      </th>

      <td mat-cell *matCellDef="let expense">
        ₹{{ expense.amount }}
      </td>

    </ng-container>

    <!-- PAYMENT -->
    <ng-container matColumnDef="paymentMode">

      <th mat-header-cell *matHeaderCellDef>
        Payment
      </th>

      <td mat-cell *matCellDef="let expense">
        {{ expense.paymentMode }}
      </td>

    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns">
    </tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

</div>